.footer{
    padding:30px;
    background-color:#1E293B;
}
.footer-row-1{
    padding:20px;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    border: 1px solid #334155;
}
.footer-column img{
    width:200px;
    mix-blend-mode:multiply;
}
.footer-column a{
    text-decoration:none;
    color:#94A3B8;
    display:block;
}
.footer-column h3{
    color:#F1F5F9;
}
.logo-column{
    margin-top:35px;
}
.footer-column p{
     color:#94A3B8;

}
.footer-row-2{
    text-align:center;
    border: 1px solid #334155;
     color:#94A3B8;
}